<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
           <spacer size='26'></spacer>
            <container>
              <row>
                <columns small="12" large="3">
                  <img src='../images/logo.png' alt='logo'>
               </columns>
               <columns large='9'>
                <th class="menu-item"><a class="tiny-text" href="#" target="_blank">BOYS</a></th>
                <th class="menu-item"><a class="tiny-text" href="#" target="_blank">GIRLS</a></th>
                <th class="menu-item"><a class="tiny-text" href="#" target="_blank">DENIM</a></th>
                <th class="menu-item"><a class="tiny-text" href="#" target="_blank">OUTLET</a></th>
               </columns>
             </row>
           </container>
           <spacer size='5'></spacer>
           <table>
              <tbody>
                <tr>
                  <td>
                   <img src='../images/shadow.png' alt='shadow'>
                  </td>
                </tr>
              </tbody>
            </table>
            <spacer size='32'></spacer>
          
            <container>
              <row>
                <columns>
                  <img src='../images/thanks.png' alt="Thank You">
                </columns>
              </row>
              <spacer size='7'></spacer>
              <row>
                <columns small='12'><span>You are now subscribed to our mailing list, which means you'll get all the best deals <br>&amp; discounts first!</span></columns>
              </row>
              <spacer size='5'></spacer>
              <row>
                <columns small='12'><span>As a special thanks, use a promo code <b>UTSUB10</b> to get your 10% off!</span></columns>
              </row>
            </container>
                <spacer size='28'></spacer>
           <table>
               <tbody>
                   <tr>
                    <td>
                       <map id='map' name='map'><area shape='rectangle' coords="131,126,485,198" href="#" target="_blank" alt="shop now" class="active-link"></map>
                        <img width='700' height='324' src='../images/main-bg2.png' alt='Shop Now' usemap='#map'>
                    </td>
                   </tr>
               </tbody>
            </table>
           <spacer size='15'></spacer>
           <container>
             <row>
               <column small='12'><hr></column>
             </row>
           </container>
           <spacer size='40'></spacer>
           <container class="wrapper">
             <row>
               <columns class="large-offset-1" large="3" small="4">
                  <h2 class="text-uppercase"><b>returns</b></h2>
                  <p>Easily return <br>your purchase</p> 
                </columns>
                <columns large="1" small='1'><img class="left-padn" src='../images/border.png'></columns>
           <!--     <columns large="1"><span class="aligning"></span></columns> -->
               <columns small='3' large='3'>
                 <h2 class="text-uppercase"><b>track order</b></h2>
                  <p>Track your order <br>online</p> 
               </columns>
               <columns large="1" small='1'><img class="left-padn" src='../images/border.png'></columns>
           <!--   <columns large="1"><span class="aligning"></span></columns>  -->
               <columns small='3' large='3'>
                 <h2 class="text-uppercase"><b>need help?</b></h2>
                  <p>Contact us 24/7</p>
               </columns>
             </row>
           </container>
           <spacer size='20'></spacer>
           <container class='wrapper bg'>
           <spacer size='25'></spacer>
             <row>
               <columns large='5' small='8' class="large-offset-1"><p class="follow"><b>follow us</b> <span class="symbol">|</span></p></columns>
              <!-- <columns large='1'><span class="aligning"></span></columns> -->
               <columns large='1' small='1'><a href="#" target="_blank"><img src='../images/facebook.png' alt="facebook"></a></columns>
               <columns large='1' small='1'><a href="#" target="_blank"><img src='../images/instagram.png' alt='instagram'></a></columns>
               <columns large='1' small='1'><a href="#" target="_blank"><img src='../images/youtube.png' alt='youtube'></a></columns>
               <columns large='1' small='1'><a href="#" target="_blank"><img src='../images/printerest.png' alt='printerest'></a></columns>
             </row>
           </container>
           <spacer size='35'></spacer>
           <container class='wrapper bg'>
           <spacer size='35'></spacer>
             <row>
               <columns large='8' small='12'><span class="small-text">&copy; 2016 | URBAN TEENS</span></columns>
               <columns><img src='../images/123.png' alt='services'></columns>
             </row>
             <spacer size='35'></spacer>
             <row>
              <columns small='12'>
               <a href="#" target="_blank" class="small-text">About Us</a>
               <span class="small-text">|</span>
               <a href="#" target="_blank" class="small-text">Site Map</a>
               <span class="small-text">|</span>
               <a href="#" target="_blank" class="small-text">Terms Of Use</a>
               <span class="small-text">|</span>
               <a href="#" target="_blank" class="small-text">Privacy Policy</a>
              </columns>
             </row>
             <spacer size='35'></spacer>
           </container>
           <spacer size='35'></spacer>
           <container>
             <row>
               <column small='12'><span class="small-text">You Can <a href="#" target="_blank" class="under">Unsubscribe</a> At Any Time</span></column>
             </row>
             <spacer size='5'></spacer>
             <row>
               <column small='12'><a href="#" target="_blank" class="small-text under">Sign Up For Email</a> <span class="small-text">|</span> <a href='#' target="_blank" class="small-text under">Privacy Notices</a></column>
             </row>
             <spacer size='5'></spacer>
             <row>
               <column small='12'><span class="small-text">Add <a href="#" target="_blank" class="under">[info@urban-teens.com]</a> to your adress book.</span></column>
             </row>
             <spacer size='5'></spacer>
             <row>
               <column small='12'><span class="small-text">Our mailing adress: Svobodova, 1, Prague, 12800, Czech Republic</span></column>
             </row>
             <spacer size='30'></spacer>
           </container>
          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>