/*автор Эрик Мэйер */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}


html{
	height:100%;
}

body{
	min-height:100%;
	background-color:#fff;
}

.b-main{
	width:900px;
	margin:0 auto;
}

.b-header{
	margin-top:20px;
	margin-bottom:15px;
	overflow:hidden;
}

.b-header:after{
    content:'';
    display:table;
    clear:both;
}

.b-header__title{
    float:left;
	font-size:24px;
	font-family:'Monotype Corsiva';
	font-weight:normal;
	color:#f5929a;
    line-height:30px;
    margin-top:5px;
    /*width:291px;*/
}

.b-header__title_name{
    display:block;
	color:#99c3d2;
}

.b-header__text{
    width:550px;
	float:right;
	font-size:11px;
	font-weight:normal;
	font-family:'times new roman', serif;
	color:#9b9fa0;
    line-height:12px;
    margin-top:10px;
}

.container:after{
    content:'';
    display:table;
    clear:both;
}

.b-menu{
	width:875px;
	height:35px;
	background:-webkit-linear-gradient(top, #f1789a, #ea627e);
	background:-moz-linear-gradient(top, #f1789a, #ea627e);
    background:linear-gradient(top, #f1789a, #ea627e);
	border-radius:13px;
	
}

.b-menu__list{
	line-height:35px;
	list-style:none;
	margin-left:18px;
}

.b-menu__list_item{
	display:inline-block;
	margin-right:7px;
}

.b-menu__list_item:nth-child(2n){
	color:#da4168;
}


.b-menu__list_link{
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
}


.b-form{
	float:right;
	margin-top:-29px;
	margin-right:10px;
	
}

.b-form__field{
	float:left;
	padding:2px 5px;
	border:1px solid #bd2d51;
	border-radius:15px;
    box-sizing:border-box;
}

.b-form__search{
	float:left;
	background-color:#fff;
	background-image:url(../images/loup.png);
	background-repeat:no-repeat;
	height:14px;
	width:14px;
	border:none;
	margin-left:-25px;
	margin-top:4px;
	
	
}


.left-column{
    width:200px;
    float:left;
}

.b-nav{
	height:550px;
	background-color:#f5f6f8;
	border-radius:5px;
	margin-top:13px;
	overflow:hidden;
}

.b-nav__title{
    color:#9b6a80;
	font-size:12px;
	text-transform:uppercase;
    padding-top:10px;
	margin-left:13px;
}

.b-nav__list{
	margin-top:12px;
	list-style:none;
	margin-left:6px;
}

.b-nav__list_item{
	margin-bottom:8px;
}


.b-nav__list_link{
	text-transform:uppercase;
	color:#77b0c4;
	font-size:11px;
	padding:5px 100px 5px 7px;
	border-radius:5px;
}

.b-nav__list_link:hover{
	color:#fff;
	background-image:-webkit-linear-gradient(#f9a3a3, #e14470);
	background-image:-moz-linear-gradient(#f9a3a3, #e14470);
	text-decoration:none;
	
}

.b-article{
    float:left;
	height:336px;
	background-color:#f5f6f8;
    margin-top:13px;	
}

.b-article__title{
    color:#9b6a80;
	font-size:12px;
	text-transform:uppercase;
    padding-top:10px;
	margin-left:13px;
    margin-bottom:15px;
}

.b-article__group{
	margin-bottom:50px;
}

.b-article__group_img{  
    padding-bottom:3px;
	margin-left:13px;
}

.b-article__group_link{
	font-family:'Tahoma';
	font-size:11px;
	font-weight:normal;
	color:#77b0c4;
	display:block;
    line-height:13px;
    word-spacing:2px;
	margin-top:-50px;
	margin-left:90px;
}

.b-article__group_link:hover{
	color:#9b6a80;
}

.center-column{
    width:500px;
    float:left;
}

.b-images__list{
	float:left;
	margin-top:14px;
	margin-left:10px;
	width:113px;
	background-color:#f5f6f8;
	height:266px;
	
}

.b-images__list_link{
	display:block;
	margin-left:5px;
	margin-bottom:5px;
}

.b-images__list_img{
    width:72px;
	height:38px;
	border:3px solid transparent;
}

.b-images__list_img:hover{
	border-color:#fd5a7b;
}

.b-images__main{
	float:left;
	width:394px;
	height:266px;
	background-image:url(../images/banner.png);
	margin-top:14px;
	margin-left:-25px;
}

.b-images__main_name{
	display:block;
	text-transform:uppercase;
	font-family:'Tahoma';
	font-size:17px;
	color:#fff;
	margin-top:180px;
	margin-left:5px;
	margin-bottom:5px;
	font-weight:normal;
}

.b-images__main_text{
	width:310px;
	font-size:8px;
	font-weight:normal;
	font-family:'Tahoma';
	color:#fff;
	margin-left:5px;
}

.b-section__content{
	float:left;
	width:223px;
	margin-left:9px;
	margin-top:20px;
}

.b-section__content_title{
	border-bottom:1px dotted #bab8b9;
	padding-bottom:5px;
	color:#603e4e;
	font-size:14px;
}


.b-section__content_img{
	display:block;
	padding-left:20px;
	margin-top:15px;
}

.b-section__content_link{
	display:block;
	margin-top:14px;
	color:#946579;
	font-size:14px;
}

.b-section__content_text{
	font-family:'Tahoma';
	font-size:11px;
	color:#9b9fa0;
	width:210px;
	margin-top:15px;
	
}

.marleft{
	margin-left:30px;
}


.b-cookery__title{
	float:left;
	margin-top:40px;
    font-size:14px;
	color:#603e4e;
	padding-left:10px;
	
}

.b-cookery__group{
	float:left;
	width:450px;
	overflow:hidden;
	margin-top:5px;
	border-top:1px dotted #bab8b9;
	margin-left:10px;
	padding-top:10px;
}

.b-cookery__right-side_link{
	color:#946579;
	font-size:14px;
}

.b-cookery__right-side_text{
	font-family:'Tahoma';
	font-size:11px;
	color:#9b9fa0;
	width:210px;
	margin-top:15px;
	
}

.b-cookery__left-side{
	float:left;
	
}

.b-cookery__right-side{
	float:left;
	margin-left:10px;
}

.right-column{
    width:200px;
    float:left;
}

.banner-bag{
	float:left;
	width:199px;
	height:336px;
	margin-top:20px;
}

.b-footer{
    margin-top:70px;
    padding-bottom:50px;
}

.b-footer__group{
    position:relative;
}


.b-footer__group_line{
    height:3px;
    width:900px;
    background-image:url(../images/border.png);
}

.b-footer__group_pic1{
    position:absolute;
    top:-50px;
    right:95px;
    width:93px;
    height:96px;
    background-image:url(../images/girlboy.png);
}

.b-footer__group_pic2{
    position:absolute;
    width:88px;
    height:31px;
    top:25px;
    right:10px;
    background-image:url(../images/strix.png); 
}

.b-footer__menu{
	margin-top:30px;
	list-style:none;
	margin-bottom:10px;
	
}

.b-footer__menu_item{
	display:inline-block;
	margin-right:15px;
}

.b-footer__menu_link{
	text-transform:uppercase;
	text-decoration:none;
	font-size:11px;
	color:#946579;
}

.b-footer__copyright{
	font-size:11px;
	color:#946579;
	padding-bottom:10px;
}

.martop{
	margin-top:26px;
}

.border-none{
	border:none;
}
