/*автор Эрик Мэйер */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}











*{
	margin:0;
	padding:0;
}

html{
	height:100%;
}

body{
	height:100%;
	background-color:#fff;
}

h1{
	font-size:24px;
	font-family:'Monotype Corsiva';
	font-weight:normal;
	color:#f5929a;
}

h2{
	color:#9b6a80;
	font-size:12px;
	text-transform:uppercase;
	margin-top:10px;
	margin-left:13px;
}

p{
	font-size:11px;
	font-weight:normal;
	font-family:times new roman,serif;
	color:#9b9fa0;
}

main{
	width:900px;
	margin:0 auto;
}

header{
	margin-top:20px;
	margin-bottom:15px;
	overflow:hidden;
}

header h1{
	width:300px;
	float:left;
	margin-right:130px;
}

header p{
	float:left;
	width:450px;
	
}

header span{
	display:block;
	color:#99c3d2;
}

menu{
	width:875px;
	height:35px;
	background:-webkit-linear-gradient(top, #f1789a, #ea627e);
	background:-moz-linear-gradient(top, #f1789a, #ea627e);
	border-radius:13px;
	
}

menu ul{
	line-height:35px;
	list-style:none;
	margin-left:18px;
}

menu ul li{
	display:inline-block;
	margin-right:7px;
}

menu ul li:nth-child(2n){
	color:#da4168;
}



menu ul li a{
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
}


#form{
	float:right;
	margin-top:-29px;
	margin-right:10px;
	
}

#form input[type="search"]{
	float:left;
	padding:2px 5px;
	border:1px solid #bd2d51;
	border-radius:15px;
}

#form input[type="submit"]{
	float:left;
	background-color:#fff;
	background-image:url(images/loup.png);
	background-repeat:no-repeat;
	height:14px;
	width:14px;
	border:none;
	margin-left:-25px;
	margin-top:4px;
	
	
}


/*
menu img{
	float:right;
	margin-top:-26px;
	margin-right:20px;
}

*/
nav{
	width:200px;
	height:550px;
	float:left;
	background-color:#f5f6f8;
	border-radius:5px;
	margin-top:13px;
	overflow:hidden;
	
}

nav ul{
	margin-top:12px;
	list-style:none;
	margin-left:6px;
}

nav ul li{
	margin-bottom:8px;
}


nav ul li a{
	text-transform:uppercase;
	color:#77b0c4;
	font-size:11px;
	padding:5px 100px 5px 7px;
	border-radius:5px;
}

nav ul li a:hover{
	color:#fff;
	background-image:-webkit-linear-gradient(#f9a3a3, #e14470);
	background-image:-moz-linear-gradient(#f9a3a3, #e14470);
	text-decoration:none;
	
}


.pictures{
	float:left;
	margin-top:14px;
	margin-left:10px;
	width:113px;
	background-color:#f5f6f8;
	height:266px;
	
}

.pictures a{
	display:block;
	margin-left:5px;
	margin-bottom:5px;
}

.pictures img{
	border:3px solid transparent;
}

.pictures img:hover{
	border-color:#fd5a7b;
}

.pictures img{
	width:72px;
	height:38px;
	
}

#banner{
	float:left;
	width:394px;
	height:266px;
	background-image:url(images/banner.png);
	margin-top:14px;
	margin-left:-25px;
}

#banner p{
	width:310px;
	font-size:8px;
	font-weight:normal;
	font-family:'Tahoma';
	color:#fff;
	margin-left:5px;
}

#banner span{
	display:block;
	text-transform:uppercase;
	font-family:'Tahoma';
	font-size:17px;
	color:#fff;
	margin-top:180px;
	margin-left:5px;
	margin-bottom:5px;
	font-weight:normal;
}

aside{
	float:right;
	height:336px;
	width:200px;
	background-color:#f5f6f8;
	margin-top:13px;
}

aside h2{
	margin-bottom:19px;
}

aside a{
	font-family:'Tahoma';
	font-size:11px;
	font-weight:normal;
	color:#77b0c4;
	display:block;
	width:130px;
	margin-top:-50px;
	margin-left:90px;
}

aside a:hover{
	color:#9b6a80;
}

aside img{
	margin-left:13px;
}


.new1{
	margin-bottom:50px;
}

section{
	float:left;
	width:500px;
	overflow:hidden;
}

.content{
	float:left;
	width:223px;
	margin-left:9px;
	margin-top:20px;
}

.content h3{
	border-bottom:1px dotted #bab8b9;
	padding-bottom:5px;
	color:#603e4e;
	font-size:14px;
}


.content img{
	display:block;
	padding-left:20px;
	margin-top:15px;
}

.content p{
	font-family:'Tahoma';
	font-size:11px;
	color:#9b9fa0;
	width:210px;
	margin-top:15px;
	
}

.content a{
	display:block;
	margin-top:14px;
	color:#946579;
	font-size:14px;
}

.marleft{
	margin-left:30px;
}

.sum{
	float:right;
	width:199px;
	height:336px;
	margin-top:20px;
}

#newnews{
	float:left;
	height:336px;
	width:200px;
	background-color:#f5f6f8;
	margin-top:30px;
	margin-left:-198px;
	
}

#newnews h2{
	margin-bottom:19px;
}

#newnews a{
	font-family:'Tahoma';
	font-size:11px;
	font-weight:normal;
	color:#77b0c4;
	display:block;
	width:130px;
	margin-top:-50px;
	margin-left:90px;
}

#newnews a:hover{
	color:#9b6a80;
}

#newnews img{
	margin-left:13px;
}

.margintop{
	margin-top:-150px;
}

.end{
	float:left;
	margin-top:40px;
}

.end span{
	font-size:14px;
	color:#603e4e;
	padding-left:10px;
	
}

.content2{
	float:left;
	width:450px;
	overflow:hidden;
	margin-top:5px;
	border-top:1px dotted #bab8b9;
	margin-left:10px;
	padding-top:10px;
}

.content2 a{
	color:#946579;
	font-size:14px;
}

.content2 p{
	font-family:'Tahoma';
	font-size:11px;
	color:#9b9fa0;
	width:210px;
	margin-top:15px;
	
}

.left{
	float:left;
	
}

.right{
	float:left;
	margin-left:10px;
}

.right a{
	
}

.right p{
	margin-top:10px;
	width:250px;

}

footer{
	width:710px;
	height:90px;
	border-top:1px solid #8b3d6f;

}

#foot{
	width:710px;
	border-top:1px solid #de7593;
	padding-bottom:50px;
}

#foot ul{
	margin-top:30px;
	list-style:none;
	margin-bottom:10px;
	
}

#foot ul li{
	display:inline-block;
	margin-right:15px;
}

#foot ul li a{
	text-transform:uppercase;
	text-decoration:none;
	font-size:11px;
	color:#946579;
}

#foot span{
	font-size:11px;
	color:#946579;
	padding-bottom:10px;
}

#rightbig{
	float:right;
	width:105px;
	border-top:1px solid #faa4a7;
	margin-top:-91px;
}

.hr1{
	width:105px;
	border-top:1px solid #e03b63;
}

#rightfoot{
	width:105px;
	border-top:1px solid #db738e;
}

#rightfoot img{
	margin-left:-83px;
	margin-top:-50px;
}

.strix{
	margin-top:-5px;
	margin-left:80px;
}


.martop{
	margin-top:26px;
}

.clear{
	clear:both;
}

.martop2{
	margin-top:-90px;
}

.marginleft{
	margin-left:210px;
}

.hr{
	clear:both;
	border-top:1px solid #a98eaf;
	width:710px;
	margin-top:150px;
}

.bor{
	border:none;
}